# Frontend
fruit/node_modules/
fruit/dist/
fruit/.env
fruit/.env.local

# Backend
fruit_server/venv/
fruit_server/__pycache__/
fruit_server/*.db
fruit_server/.env

# OS & VS Code
.vscode/
.DS_Store
Thumbs.db
*.log
